main{
	position: absolute;
	width: 150px;
	height: 200px;
	left: calc(50% - 75px);
	top: calc(50% - 100px);
	transform-style: preserve-3d;
	border: 1px solid white;
	transform: rotateX(20deg);
}
div{
	width:100%;
	height:100%;
	position: absolute;
	transform-origin: left ;
	text-align: right;
	transition-duration: 3s;
}
.first{
	background-color: red;
	transform: rotateY(-40deg);
	/*transition-duration: 3s;*/
	
}
.second{
	background-color: yellow;
	transform: rotateY(-30deg);
    /*transition-duration: 3s;*/

}
.three{
	background-color: blue;
	transform: rotateY(-20deg);


}
.four{
	background-color: orange;
	transform: rotateY(-10deg);


}
.five{
	background-color: darkslategrey;
	transform: rotateY(-5deg);


}

/*main:hover .first{
	transform: rotateY(-170deg);
}
main:hover .second{
	transform: rotateY(-160deg);
}*/
